@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
*, *::before, *::after {
    box-sizing: border-box

}


.nutella {
    background-image: url(../images/event4.jpeg);	
    height: 100%;
}

#errors {
    color: white;
    font-size: large;
}
.peanutb {
    background-image: url(../images/event4.jpeg);
}

.nava {
    height: 20px;
}



/* body{
    display: flex;
    background-color: #d1dddd;
    width: 100%;
    height: 100vh;
    font-family: 'Sawarabi Mincho', sans-serif;
} */
.gallery{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.2rem;
}
.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5rem;
    grid-template-areas: 
    'img-1 img-2 img-3 img-6'
    'img-1 img-4 img-5 img-6'
    'img-7 img-7 img-8 img-8';

}
.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i{
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .5s;
}

.gallery pt-5 {
    background-color: #1C2331;
}
.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}
.joho {
    background-color: #1C2331;
}
.img-1{
    grid-area: img-1;
    min-height: 20.5rem;
    background-image: url(../images/gallery1.jpeg);
}
.img-2{
    grid-area: img-2;
    background-image: url(../images/gallery2.jpeg);
    min-height: 20.5rem;
}
.img-3{
    grid-area: img-3;
    background-image: url(../images/gallery3.jpg);
    min-height: 20.5rem;
    margin-top: auto;
    margin-bottom: auto;
    height: 200vh;
}
.img-4{
    grid-area: img-4;
    background-image: url(../images/gallery4.jpeg);
    min-height: 20.5rem;
    height: 20.5rem;
    padding-bottom: 25rem;
    padding-top: 25rem;
}
.img-5{
    grid-area: img-5;
    background-image: url(../images/gallery5.jpeg);
    min-height: 20.5rem;
}
.img-6{
    grid-area: img-6;
    min-height: 50.5rem;
    background-image: url(../images/gallery6.jpeg);
}
.img-7{
    grid-area: img-7;
    background-image: url(../images/gallery7.jpeg);
}
.img-8{
    grid-area: img-8;
    background-image: url(../images/gallery8.jpeg);
}


@media screen and (max-width: 900px){
    .image-gallery{
        grid-template-areas: 
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-6 img-6 img-6 img-6'
        'img-7 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8';
    }
}
.colors {
    background-color: #1C2331;
}
.masaba {
    background-image: url(../images/gallery1.jpeg);
}
.masaba1 {
    background-image: url(../images/gallery2.jpeg);
}
.masaba2 {
    background-image: url(../images/gallery3.jpg);
}
.masaba3 {
    background-image: url(../images/gallery4.jpeg);
}
.masaba4 {
    background-image: url(../images/gallery5.jpeg);
}
.masaba5 {
    background-image: url(../images/gallery6.jpeg);

}
.masaba6 {
    background-image: url(../images/gallery7.jpeg);

}
.masaba7 {
    background-image: url(../images/gallery8.jpeg);

}
.section5 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.img-fluid {
    padding-bottom: 1rem;
}
#j1,#j2,#j3,#j4,#j5,#j6,#j7,#j8 {
    position: absolute;
    top: 0%;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    padding: 70px 0;
    display: none;
}
.work-img {
    position: relative;
}
.card-body {
    background-color: #1C2331;
    margin-top: 20px;
}