{%extends 'all-events/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{post.event_image.url}}"  class="img-responsive" alt="Image">
   </div>

   <div class="row">
     <h1 class="text-center">{{event.title}}</h1>
   </div>

   <div class="row">
     {% autoescape on %}
     {{event.post| safe}}
    {% endautoescape %}

   </div>

   <div class="row">
     <p>Posted {{event.pub_date|timesince}} by {{event.organizer.first_name}}</p>
   </div>

 </div>

 {% endblock %}