{%extends 'all-events/base.html'%}
{% load static %}
{% block content %}
{{block.super}}
{% load bootstrap3 %}


<div class="joho">
<div class="gallery pt-5">
    <h2>Events Pub</h2>
     <div class="image-gallery">
      <a href="./images/gallery1.jpeg" class="img-1">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery2.jpeg" class="img-2">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery3.jpeg" class="img-3">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery4.jpeg" class="img-4">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery5.jpeg" class="img-5">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery6.jpeg" class="img-6">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery7.jpeg" class="img-7">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
      <a href="./images/gallery8.jpeg" class="img-8">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </a>
    </div> -->
  </div>
  </div>

  <div class="mountain">
    <div class="badilisha">
<div class="container">

    <!-- Looping through events   -->
    <div class="eventa">
    <div class="row">
      <div class="col-md-11">
        <div class="col-md-8">
          </div>
        </div>
        </div>
      </div>
    {% for event in events %}
      <!-- displaying event articles -->

        
        <a href="{% url 'event' event.id %} "><h2 class="joker"> {{ event.title }} </h2></a>
        
          {%autoescape on%}
          {{event.post|safe|truncatechars:200}} 
          {%endautoescape%}
         
      {% empty %}
        <h3 class="text-center">There are no upcoming events today </h3>
      <!-- Looping through events end   -->
      {% endfor %}
      </div>
      <div class="container-fluid">
        <h2 style="color: white; text-align: left; ">Sign up for a newsletter</h2>
        <form  action="{%url 'eventsToday'%}" method="post" style="width: 35vw;">
          {%csrf_token%}
            
          <!-- {{ letterForm }} -->
         <p style="color: yellow;" >{% bootstrap_form letterForm layout='inline' %}</p>
          <input type="submit" value="Subscribe" style="height: 5vh;  color: #1C2331;">
        </form>    
      
      </div>
    </div>
</div>


  
{% endblock %}

{% block scripts %} 
  {{block.super}}
  <script type="text/javascript" src="{%static 'js/eventsletter.js'%}"></script>
{% endblock %}





    
